*{
    margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box ;
    background-color: #001011;
    color: #6CCFF6;
}
.titulo-destaque{
    color:#98CE00;
}
.apresentacao{
    display: flex;
    align-items: center;
}